@import url('https://fonts.googleapis.com/css2?family= Akaya +Telivigala & family= Nabla & display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0  auto;
   background-image: linear-gradient(to right bottom, #3c0534, #a10fdf, #000277);
}

.navbar{
    
    display: flex;
    /* height: 100px; */
    /* border: 1px solid white; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.icon{
    margin-left: 20%;
    flex: 5%;
    text-align: left;
    /* border: 1px solid black; */
}

.menu{
    
    display: flex;
    flex: 70%;
    justify-content: center;
    padding: 20px;
    /* border: 1px solid black; */
}

.menu li{
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.233);
}

.menu a{
    
    color: #fff;
    font-size: 16px;
    margin: 10px;
    
}

.menu li:hover{
    cursor: pointer;
    border: 1px solid rgba(236, 72, 7, 0.993);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background: grey; */
    
    
    
}

.headline{
    margin-left: 5%;
    margin-right: 5%;
    flex: 40%;
    
}

.headline h1, h2{
    font-family: 'Nabla', cursiva;
    color:  rgba(236, 72, 7, 0.993);
    font-size: 20px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.headline p{
    font-family: 'Akaya Telivigala', cursiva;
    text-align: left;
    color: #fff;
}

.img-headline{
    margin-left: 3%;
    
    
}








