body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0  auto;
    background-image: linear-gradient(to right,  rgb(20, 147, 220), rgb(17, 54, 71));
}

header {
    align-content: center;
    
    
}

  

.menu ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'El Messiri', sem serifa;
    
}

.menu li{
   padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    position: relative;
}


.menu a{
    color: #ffff;
} 

 li:hover{
    transition: .5s;
    cursor: pointer;
    background-image: linear-gradient(to right
    , rgb(20, 147, 220),rgb(17, 54, 71));
} 

header .icon{
    
    text-align: center;
}

.icon > img{
    width: 85px;
    
}








/* .content{
     
    min-height: 400px;
    margin-top: 10px;
    
    width: 100%;
    height: 85vh;
    color: white;
    padding: 100px;
    display: flex; 
    justify-content: space-around;
       
    
}

.descricao{
    max-width: 380px;
    align-items: center;
}

.content h1{
    margin: auto;
    font-family: 'Sail', cursive;
    text-align: center;
    width: auto;
    font-size: 70px;
    
    
}

.content p{
    margin: auto;
    font-family: 'El Messiri', sem serifa;
    text-align: center;
    font-size: 35px;
    width: auto;
    
}

.img-content{
    min-width: fit-content;
    max-width: 460px;
    
    align-self: center;
    
    
    
}

.img-halo{
    
    flex-wrap: wrap;
   
    opacity: cover;
}     */







